body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
}

.app-container {
  text-align: center;
  padding: 40px;
  color: white;
}

.title {
  font-size: 36px;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.student-card {
  background: white;
  color: #333;
  width: 320px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.student-card:hover {
  transform: scale(1.05);
}

.student-card h2 {
  color: #243b55;
}

.marks {
  text-align: left;
  margin-top: 10px;
}

.total {
  margin-top: 10px;
  font-weight: bold;
}

.grade {
  margin-top: 10px;
  padding: 6px;
  border-radius: 6px;
  color: white;
}
